<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', nickname=post.author.nickname) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <!--% set user_link %-->
                <span class="user_popup">
                <a href="{{ url_for('user', nickname=post.author.nickname) }}">
                    {{ post.author.nickname }}
                </a>
                </span>
            <!--% endset %-->
            said {{momentjs(post.timestamp).fromNow()}}:
            <br>
            <p><strong><span id="post{{post.id}}">{{post.body}}</span></strong></p>
        </td>
    <tr>
        <td>
            {% if post.language != None and post.language != '' %}
                <div><span id="translation{{post.id}}">
                    <a href="javascript:translate('{{post.language}}', 'ru', '#post{{post.id}}', '#translation{{post.id}}', '#loading{{post.id}}');">Translate</a>
                </span></div>
                <img id="loading{{post.id}}" style="display: none" src="/static/img/loading.gif">
            {% endif %}
        </td>
    </tr>
    </tr>
</table>